.cart{
    display:grid;
    transition: .3s;
    /* grid-auto-flow:row; */

    /* grid-template-columns: 1fr 2fr;
    grid-template-rows: 40px 3fr; */
}
.cart:hover{
    outline: 2px solid #F7F7F7;
    border-radius: 8px;
    transition: .3s;
}
.cart_foto_block{
    grid-area: img;
    position: relative;
    height: 200px;
    /* margin: 1em 1em 0 1em; */
}   
.cart_foto_block_mob
{display: none;}
.cart_icon_shv{
    align-items: center;
    gap: 8px;
    background: #F7F7F7;
    border-radius: 32px;
    width: 24px;
    height: 24px;
}   
.cart_icon_shv > img{
    padding: 5px;
}
.cart_info{
    margin: 0; 
}
.cart_name{
    grid-area: name;
    font-style: normal;
    font-weight: 500;
    color: #6B6B6B;
}
.cart_composition{
    grid-area: compos;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #757575;
}
.cart_prise{
    grid-area: prise;
    display: flex;
    align-items: end;
    justify-content: end;
    align-content: center;
    /* height: 45px; */
    /* padding-right: 1em; */
}
.cart_prise_old{
    /* display: flex; */
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    text-decoration-line: line-through;
    color: #A0A0A0;
    }
    .cart_prise_old::after{
        content:' ₽';
    }
.cart_prise_new{
    margin-left: 8px;
    font-size: 14px;
    background: #E9E6E6;
    color: #274646;
    border-radius: 46px;
    transition: .5s;
    border:none;
    font-weight: 700;
    height: 34px;
    width: 90px;
}
.cart_prise_new::after{
    content:' ₽';
}
.cart_prise_new:hover{
    color: #fff;
    background-color:#274646;
    transition: .5s;
}

/* Media begin */
@media (max-width: 575px) {
    .cart{
        display:grid;
        grid-auto-flow:column;
        outline: none;
        padding: 10px;
        grid-auto-rows: minmax(31px, auto);
        grid-template-areas:
        "icon name name name"
        "img prise prise prise"       
        ;
    }
    .cart_composition{
        display: none;
    }
    .cart_foto_block{
        display: none;
    }
    .cart_foto_block_mob
    {display: flex;}
                
    .cart_icon{
        grid-area: icon;
        display: flex;
        align-items:flex-end;
        gap: 8px;       
    }
    .cart_info {
        display: flex;
        align-items: center;
    }  
    .cart_name{
        font-size: 18px;
        line-height: 18px;
        color: #274646;
    }
    .cart_prise_old{
        font-size: 16px;
        line-height: 16px;
    }
    .cart_prise_new{
        font-size: 16px;
        background: #E9E6E6;
        height: 40px;
        width: 93px;
        }
.cart_prise{
    display: flex;
    margin: 0 0 12px 0;
    height: auto;
    align-items: center;
}
.cart_icon_big{display: none;}
}

@media (min-width: 576px) { 
.cart{
    max-width: 339px;
    padding: 1em;
    grid-template-areas:
    "icon"
    "img"
    "name"
    "compos"
    "prise";
}


}
@media (min-width: 768px) {
    .cart_icon{
        display: none;
    }
    .cart_icon_big{
        display: flex;
        position: absolute;
        top: 0px;
        left: 0px;
        gap: 8px;
        z-index: 9;
    }
    .cart{
        max-width: 339px;
        padding: 1em;
        grid-template-areas:
        "icon"
        "img"
        "name"
        "compos"
        "prise";
    }
    .cart_foto_block_mob
    {display: none;}
}

@media (min-width: 992px) {
   
}

@media (min-width: 1200px) {
    .cart{
        max-width: 306px;}

}

@media (min-width:1400px) {
   
}
/* Media end */