.header_cart{
    grid-area: head; 
    font-weight: 500;
    font-size: 32px;
    color: #274646;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.cont_cart{
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    color: #274646;
    width: 100%;
    margin: 0 auto;
    grid-gap: 32px 24px;
}
 .cont_cart{
    grid-template-areas:
"head head head head"
"cart cart cart cart"
"cart cart cart cart";

} 

/* Media begin */
@media (max-width: 575px) {
    .header_cart{
        background: #555;
    }
    .cont_cart{
        grid-gap: 7px;
        width: 90%;

        grid-template-columns: repeat(1, 12fr);
        grid-template-areas:
    "head"
    "cart"
    "cart";
    }
    .cart_hr{
        border: 1px solid #E5E5E5;
    }
}

@media (min-width: 576px) {
    .header_cart{
        background: #000;
    }
    .cont_cart{
        width: 92.6%;
        grid-gap: 10px; 
        grid-template-columns: repeat(2, 6fr);
        grid-template-areas:
    "head head"
    "cart cart"
    "cart cart";
    }
    /* .conteiner{
        margin: 0 1em;
    } */
    .cart_hr{ display: none;}
}

@media (min-width: 768px) {
    .header_cart{
        background: rgb(255, 255, 255);
    }
    .cont_cart{
        grid-template-columns: repeat(4, 3fr);
        grid-template-areas:
    "head head head head"
    "cart cart cart cart"
    "cart cart cart cart";
}

@media (min-width: 992px) {
   
}

@media (min-width: 1200px) {
    .cont_cart{width: auto;}   
}

@media (min-width:1400px) {
   
}}