.footer_conteiner{
background-color:#274646;
display: flex;
justify-content: space-around;
}
.footer_top{
margin: 64px auto;
}

.footer_menu{
    display: flex;

}
.footer_menu ul{
display: flex;
flex-direction: column;
margin: 0 auto 32px; 
gap: 40px;
align-items: center;

}
.footer_menu li{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-transform: lowercase;
    color: #F7F7F7;
}
.footer_line{
    border-bottom: 1px solid #FFBDC8;
}

.footer_soc_vk,
.footer_soc_tg,
.footer_soc_wu,
.footer_soc_ins,
.footer_logo::after{
    content:'';
    width: 32px;
    height: 32px;
    display: block;
    background-size: cover;
}

.footer_logo::after{
margin: 32px auto;

background-image: url(../img/logo_mob.svg);
}
.footer_social{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 16px;
}
.footer_soc_ins{
    background-image: url(../img/instagram.svg);
    content:'';
    width: 32px;
    height: 32px;
    display: block;
    background-size: cover;
}
.footer_soc_wu{
    background-image: url(../img/whatsapp.svg);
}
.footer_soc_tg{
    background-image: url(../img/telegram.svg);
}
.footer_soc_vk{
    background-image: url(../img/vk.svg);
    content:'';
    width: 32px;
    height: 32px;
    display: block;
    background-size: cover;
}
.footer_soc_vk:hover{
    background-image: url(../img/vk-pink.svg);
}
.footer_soc_tg:hover{
    background-image: url(../img/tg-pink.svg);
}
.footer_soc_wu:hover{
    background-image: url(../img/WhatsApp-pink.svg);
}
.footer_soc_ins:hover {
    background-image: url(../img/Instagram-pink.svg);
}

/* нижняя часть с информацией sunweb */
.sunweb_conteiner{
    background-color: #565D95;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;

}
.footer_polit{
    display: flex;
    gap: 1em;
    font-style: normal;
    font-weight: 400;
    color: #fff;
}
.footer_polit_line{
    text-decoration-line: underline;
}
.footer_sunweb{
    display: flex;
    line-height: 120%;
    color: #fff;
    height: 27px;
    margin: 10px;
    align-items: flex-end;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    
}
.footer_sunweb_yellow{
    color:#F2AF29;   
}
.footer_sunweb img{
    margin-left: 9px;
    height: 27px;   
    display: block;
    width: 76px;
}
/* Медиа */
@media (max-width: 576px) {

.sunweb_conteiner{
    height: 154px;
    padding: 16px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.footer_top{
    width: 211px;
    margin: 64px;
}
.footer_menu ul{
    margin: 0 auto 58px;
}
.footer_polit{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer_logo::after{
    background-image: url(..//img/logomax.svg);
    width: 196px;
    height: 16px;
}
.footer_sunweb{
    margin: 0;
}
}

@media (min-width: 576px) {
    .footer_top{
        width: 400px;
}
    .sunweb_conteiner{
        height: 79px;
        padding: 10px 8px;
        display: flex;
        align-items: flex-end;
    }
    .sunweb_conteiner{
        flex-direction: column;
}
}
@media (min-width: 768px) {
.sunweb_conteiner{
    flex-direction: column;
}
.sunweb_conteiner{
    height: 79px;
    padding: 10px 60px;
    display: flex;
    align-items: flex-end;

}
.footer_sunweb{
    margin: 0;
}
}
@media (min-width: 992px) {
    .sunweb_conteiner{  
        display: flex;
        height: 47px;
        flex-direction:row;
        align-items: center;
    }
        
}

@media (min-width: 1200px) {
   
}

@media (min-width:1400px) {
   
}