.conteiner{
    margin: 0 auto;
    width: auto;
    max-width: 1400px;
}

.head{
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    background:#FFFFFF;
    z-index: 5;
    height: 158px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.headtop__color{
    width: 100%;
    background: #274646;
    display: flex;
    justify-content: center;
}
.headtop__top{
    display:flex;
    width: 100%;
    height: 54px;
    justify-content: space-between;
    padding: 0 auto;
}
.headtop__left{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 6px;
}
.headtop__left_mobi{    
    display: flex;
    gap: 26px;
    height: inherit;
    align-items:inherit
}
.headtop_left__logo,
.headtop_left__tel{
    font-size: 14px;
    color: #A0A0A0;
    display:none;
}
.headtop_left__adress{
    display: flex;
    font-size: 14px;
    color: #FFE091;
    font-style: normal;
    align-items: center;
    gap: 6px;
}
.headtop_basket{
    display: flex;
    align-items: center;
    gap: 8px;
}
.headtop_basket__shimigi{
    display: flex;
    color: #FFBDC8;
    font-size: 14px;
    gap: 8.5px;
    align-items: center;
    margin-right: 18px;
}
.headtop_basket__counter{
    display: flex;
}
.headtop_basket__counter span{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 900;
    text-align: center; 
    background: #B20D30;
    width:18px;
    height:18px;
    line-height: 18px;
    border-radius: 50%;
}
.headtop_basket__prise{
    font-size: 14px;
    color: #FFFFFF;
}
.headtop_basket__prise::after{
    content: " ₽";}
.headtop_basket__counter h3{
    margin-left: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #fff;

}
@media (max-width: 575px) {
    .conteiner{
        margin: 0 auto;
        padding: 1em;
    }
    .headtop__left{
        min-width: none;
        width: 100%;
        margin: 0 16px 0 20px;
        justify-content: space-between;
    }
    .headtop_basket{
        visibility: hidden;
        position:fixed;
        bottom: 40px;
        left: 1em;
        right: 1em;
        justify-content: space-between;
        padding: 16px;
        background-color: #274646;
        border-radius: 46px;
    }
    .headtop_left__logo{
        display: none;
    }
    .headtop_basket__shimigi{
        display: none;
    }

}
    

@media (min-width: 576px) {
    .conteiner{
        margin: 0 auto;
        padding: .75rem;
    }
.headtop_left__logo{
    display: flex;
}
.headtop__top{
    padding: 0 1em;
}
.headtop_basket__shimigi{
max-width: 90px;
}


.headtop_basket__counter h3
{display: none;}
}
@media (max-width: 640px) {
    .headtop_basket__shimigi{
        margin: 0;}
    .headtop_left__logo{
        display: none;
    }
    
}

@media (min-width: 640px){
.headtop__logo_mob{display: none;
}
}
@media (min-width: 768px) {
    .conteiner{
        max-width: 720px;   
    }
    .headtop__top{
        margin: 0 12px;
    }
    .headtop__left{
        width: 394px;
    }
    .headtop_basket{
        min-width: 140px;
    }
    .headtop__logo_mob
{display: none;}
}

@media (min-width: 992px) {
    .conteiner{
        margin: 0 auto;
        max-width: 95%;
        padding: 0;
    } 
 .headtop_left__tel{
    display: flex;
}
.headtop__left{
    min-width: 513px;
    margin: 0;
    }
}

@media (min-width: 1280px) {
    .conteiner{
        margin: 0 auto;
        max-width: 1210px;
    } 
    .headtop__top{
        max-width: 1170px;
        padding: 0;
    }
    .menu_top{
        padding: 0;
    }
    .headtop__left{
    min-width: 513px;
    margin: 0;
    }


}

@media (min-width:1400px) {
    .conteiner{
        max-width: 1295px;
        padding: 0;
        margin: 0 auto;
    } 
    .headtop__top{
        padding: 0;
        max-width: 1295px;
}
}