.menu_top{
    display: flex;
    height: 48px;
    width: 100%;
    justify-content: center;
    align-items: center;
}    
.menutop__ul{
    display: flex;
    overflow-y: auto;
    width: inherit;
    border-bottom: 1px solid #E5E5E5;
    margin: 0 1em;
    gap: 48px;
    }
.menutop__ul::-webkit-scrollbar,
.menu_top::-webkit-scrollbar {
        display: none;
    }   
 .menutop__li:first-child{
    margin: 0 26px 0 0;
}
.menutop__li:last-child{
    margin: 0 0 0 26px;
} 
.menutop__li{
    display: flex;
    position: relative;
    background: #fcfffb;
    align-items: center;    
    color: #274646;
    height: 46px;
    border-bottom: 3px solid transparent;
    white-space: nowrap;
    position:relative;
}
.menutop__li:hover {
    
    border-bottom: 3px solid #274646;
    
}
.menutop__li:hover~.menu__low{
        display: flex;
        top: 100px;
        left: 0;
    }
/* Нижнее меню с кнопками вместо ссылок */

.menu__low{
    display: none;
    position: absolute;
    
    height: 56px;
    width: 100%;
    display: flex;
    align-items: flex-start; 
    align-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow:auto;  
}
.menulow__botton{
    color: #6B6B6B;
    padding: 12px 12px 12px 14px;
    border-radius: 46px;
    font-weight: 700;
    border: 2px solid #F7F7F7;
}
.menulow__botton:active{
    color: #274646;
    background: #E9E6E6;
    border: none;
    border: 2px solid #E9E6E6;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}
@media (min-width: 992px) {
   
}

@media (min-width: 1200px) {
   
}

@media (min-width:1400px) {
   
}