.conteiner{
    margin: 0 auto;
    width: auto;
}
*{
    box-sizing: border-box;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
    font-weight: 700;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    margin: 0;
    padding: 0;
   
}
.head{
    position: fixed;
    display:inline-block;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    background:#FFFFFF;
}
.head{
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.headtop__top{
    display:flex;
    width: 100%;
    height: 54px;
    background: #274646;
}
.headtop__left{
    display: flex;
    justify-content: flex-end;
    height: inherit;
    align-items: center;
    width: 50%;     
}
.headtop_left__burg{
    margin-right: 28px;
}
.headtop_left__logo{
    margin-right: 28px;
}
.headtop_left__tel{
    margin-right: 24px;
    font-size: 14px;
    line-height: 16px;
    color: #A0A0A0;
}
.headtop_left__mapicon{
    margin-right: 8px;
}
.headtop_left__adress{
    margin-right: 100px;
    
    color: #FFE091; 
}
.font_top{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}
.headtop__right{
    position: relative;
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: flex-end;
    width: 645px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}
/* .headtop_right__shicon{ 
     margin-left: 430px; 
}*/
.headtop_right__shimigi{
    margin-left: 9px;
    color: #FFBDC8;
}
.headtop_right__bagshop{
    padding-left: 30px;
}
.headtop_right__red_namber{
    display: inline-block;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    background: #B20D30;
    width:18px;
    height:18px;
    line-height: 18px;
    border-radius: 50%;
    margin-left: 2px;
}
.headtop_right__prisebag{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding-left: 8px;
}
/* img {
    max-width: 100%;
    display: block; */

a {
    text-decoration: none;
    text-emphasis: none;
}
.menu_top{
    position: relative;
    display: flex;
    width: auto;
    height: 46px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /*lign-content: center;*/
    flex-direction: row;
    
}
.menu_top::-webkit-scrollbar {
        display: none;
}   
.menutop__ul{
    display: inline-flex;
    padding-inline-start: 0;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    align-items: flex-start;
    align-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    height: inherit;
    overflow-x: auto;
    width: 1295px;
    border-bottom: 1px solid #E5E5E5;
   
    }

.menutop__ul::-webkit-scrollbar{
width: 0;
}


.menutop__li:first-child{
    margin: 0 26px 0 0;
}
.menutop__li:last-child{
    margin: 0 0 0 26px;;
}
a {
    background: inherit;
    font-size: inherit;
    color: inherit;
}
.menutop__li{
    display: flex;
    margin: 0 24px;
    background: #fcfffb;
    font-size: 16px;
    align-items: center;    
    color: #274646;
    height: 46px;
    border-bottom: 3px solid transparent;
}
.menutop__li:hover{
    border-bottom: 3px solid #274646;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.menu_low{
    position: relative;
    display: flex;
    width: auto;
    height: 46px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 588px;  
}
.menulow__ul{
    display: inline-flex;
    padding-inline-start: 0;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    align-items: flex-start;
    align-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    height: inherit;
    height: 56px;

   }
.menulow__li{

    border: 2px solid #F7F7F7;
    box-sizing: border-box;
    border-radius: 46px;
    height: 40px;
    color: #6B6B6B;
}
li{
    list-style: none;
}

/* ///////////////////////////////////////// */


.zagluchka{
    height: 160px;
}
.story_cont{
    display:flex;
    margin: 0 auto;
    width: 1295px;
    overflow-x:scroll;
}

.story_cont::-webkit-scrollbar {
    height: 2px;
    background-color: #E5E5E5; 
   
}
.story_cont::-webkit-scrollbar-thumb{
    background-color: #A0A0A0;
}

.story_block{
    display: block;
    width: 152px;
    height: 276px;
    margin: 20px 12px;
    border-radius: 16px;
    
}
.name_block{
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    color: #274646;
    margin: 0 310px;
    }
.cont_cart{
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: #274646;
    width: 1295px;
    margin: 0 auto;
    grid-column-gap: 24px;
    }
.cart{
    display: block;
    height: 320px;
    width: 306px;
    
    border-radius: 8px;
}
.cart_icon{
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}   
.cart_icon_shv{
    align-items: center;
    height: 24px;
    width: 24px;
    background: #F7F7F7;
    border-radius: 32px;
}
.cart_icon_shv > img{
    margin: 5px auto;
}
.cart_icon_shv:first-child{
    margin: 0 8px 0 0;
}
.cart_icon_shv:last-child{
    margin: 0 0 0 8px;;
}
.cart_foto_block{
    position: relative;
    display:block;
    margin-left: 16px;
    margin-top: 16px;
    margin-right: 16px;
    width: 274px;
    height: 200px;
    }

.cart_info{

    padding-left: 16px;
}

.cart_name{
    display: flex;
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #6B6B6B;
}
.cart_composition{
    font-weight: 400;
    display: flex;
    font-size: 14px;
    line-height: 18px;
    color: #757575;
}
.cart_prise{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    justify-content: end;
    margin-right: 16px;

}
.cart_prise_old{
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #A0A0A0;
    }
.cart_prise_new{
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E9E6E6;
    color: #274646;
    padding: 10px 23px;
    border-radius: 46px;
}