.conteiner{
    margin: 0 auto;
    width: auto;
    max-width: 1320px;
}
*{
    box-sizing: border-box;
    cursor: default;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    list-style-type: none;
    padding-inline-start: 0;
}
button{
    font-style: inherit;
    font-size: inherit;
    font-family: inherit;
}
body {
    font-family: 'ValueSansPro', sans-serif;
    min-height: 100vh;
    font-weight: 700;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    margin: 0;
    padding: 0;
}
.head{
    position: fixed; 
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    background:#FFFFFF;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.headtop__color{
    width: 100%;
    background: #274646;
    display: flex;
    justify-content: center;
}
.headtop__top{
    display:flex;
    width: 1400px;
    height: 54px;
    justify-content: space-between;
    padding: 0 auto;
}
.headtop__left{
    display: flex;
    align-items: center;
    gap: 24px;
}
/* .headtop_left__burg{
   
}
.headtop_left__logo{
     */
.headtop_left__tel{
    font-size: 14px;
    color: #A0A0A0;
}
.headtop_left__adress{
    display: flex;
    font-size: 14px;
    color: #FFE091;
    font-style: normal;
    align-items: center;
}
.headtop__right{
    display: flex;
    align-items: center;
    gap: 8px;
}
/* .headtop_right__shicon{ 
     margin-left: 430px; 
}*/
.headtop_right__shimigi{
    color: #FFBDC8;
    font-size: 14px;
    margin-right: 20px;
}
.headtop_right__bagshop{
    display: flex;
}
.headtop_right__red_namber{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 900;
    text-align: center; 
    background: #B20D30;
    width:18px;
    height:18px;
    line-height: 18px;
    border-radius: 50%;
}
.headtop_right__prisebag{
    font-size: 14px;
    color: #FFFFFF;
}
/* img {
    max-width: 100%;
    display: block; */
a {
    text-decoration: none;
    text-emphasis: none;
}
.menu_top{
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
}
.menu_top::-webkit-scrollbar {
        display: none;
}   
.menutop__ul{
    display: flex;
    overflow-x: auto;
    width: 1295px;
    border-bottom: 1px solid #E5E5E5;
    }
.menutop__ul::-webkit-scrollbar{
width: 0;
}
.menutop__li:first-child{
    margin: 0 26px 0 0;
}
.menutop__li:last-child{
    margin: 0 0 0 26px;
}
a {
    background: inherit;
    font-size: inherit;
    color: inherit;
}
.menutop__li{
    display: flex;
    margin: 0 24px;
    background: #fcfffb;
    align-items: center;    
    color: #274646;
    height: 46px;
    border-bottom: 3px solid transparent;
}
.menutop__li:hover{
    border-bottom: 3px solid #274646;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.menu__low{
    position: relative;
    display: flex;
    width: 588px;
    height: 56px;
    /* flex-wrap: nowrap;  */
    margin-left: 260px;
}
.menulow__ul{
    display: flex;
    align-items: flex-start; 
    align-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row; 
    height: inherit; 
   }
.menulow__li{
    display: flex;
    margin: 8px;
}
.menulow__botton{
    color: #6B6B6B;
    padding: 12px 12px 12px 14px;
    border-radius: 46px;
    font-weight: 700;
    border: 2px solid #F7F7F7;
}
.menulow__botton:active{
    color: #274646;
    background: #E9E6E6;
    border: none;
    border: 2px solid #E9E6E6;
}
li{
    list-style: none;
}

/* ///////////////////////////////////////// */


/* .zagluchka{
    height: 156px;
} */
.story_cont{
    display:flex;
    margin: 0 auto;
    width: 1295px;
    overflow-x:scroll;
}

.story_cont::-webkit-scrollbar {
    height: 2px;
    background-color: #E5E5E5; 
   
}
.story_cont::-webkit-scrollbar-thumb{
    background-color: #A0A0A0;
}

.story_block{
    width: 160px;
    height: 284px;
    padding: 2px;
    margin: 16px 8px 34px 8px;
    border-radius: 16px;
    border: 2px solid #F293A2;
}
/* |||||||||||||||||||||||||||||||||Animation||||||||||||||||||| */
.anima_block__rolls{
    height: 100px;
    overflow: hidden;
    background: linear-gradient(0deg, #F293A2 -0.01%, #F7BDC7 99.99%); 
    margin: 48px 0 32px 0;
    width:inherit;
}
.anima_block__rolls div {
    display: flex;
    width: 200%;
    animation: anima_block__rolls 10s linear infinite;  
}
.anima_block__rolls h1 {
    white-space: nowrap;
    font-family: 'rimma-sans-bold';
    color: #FFD8E1;
    font-size: 80px;
    line-height: 100%;
} 
.anima_block__rolls h1:after {
content:"РОллы";  
}
.anima_block__rolls span {
    width: 100%;
    display: flex;
    justify-content: space-around;
 }
@keyframes anima_block__rolls {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
/* ???????????????SUSHI??????????????????? */
.anima_block__sushi{
    
    height: 100px;
    overflow: hidden;
    background: linear-gradient(0deg, #F9B147 -0.01%, #FDC944 99.99%); 
    margin: 48px 0 32px 0;
}
.anima_block__sushi div {
    display: flex;
    width: 200%;
    animation: anima_block__sushi 10s linear infinite;
}
.anima_block__sushi h1 {
    white-space: nowrap;
    font-family: 'rimma-sans-bold';
    color: #FFE091;
    font-size: 80px;
    line-height: 100%;
} 
.anima_block__sushi span {
    width: 100%;
    display: flex;
    justify-content: space-around;
 }
@keyframes anima_block__sushi {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
/* \\\\\\\\\\\\\\\\\ПОКЕ\\\\\\\\\\\\\\\\\\\ */
.anima_block__poke{
    height: 100px;
    overflow: hidden;
    background: linear-gradient(0deg, #001918 0%, #003D3D 100%); 
    margin: 48px 0 32px 0;
}
.anima_block__poke div {
    display: flex;
    width: 200%;
    animation: anima_block__poke 10s linear infinite;
}
.anima_block__poke h1 {
    white-space: nowrap;
    font-family: 'rimma-sans-bold';
    color: #006666;
    font-size: 80px;
    line-height: 100%;
} 
.anima_block__poke span {
    width: 100%;
    display: flex;
    justify-content: space-around;
 }
@keyframes anima_block__poke {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

    /* /////////////////////////////////////   CART   ////////////////////////////////// */
.hedder_cart{
    grid-area: head; 
    font-weight: 500;
    font-size: 32px;
    color: #274646;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.cont_cart{
    
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    color: #274646;
    width: 1295px;  
    margin: 0 auto;
    grid-gap: 32px 24px;
}
.cart{
    height: 100%;
    width: 306px;
    transition: .3s;
}
.cart:hover{
    outline: 2px solid #F7F7F7;
    border-radius: 8px;
    transition: .3s;
}
.cart_foto_block{
    position: relative;
    height: 200px;
    margin: 1em 1em 0 1em;
}
.cart_icon{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}   
.cart_icon_shv{
    align-items: center;
    gap: 8px;
    background: #F7F7F7;
    border-radius: 32px;
    width: 24px;
    height: 24px;
}   
.cart_icon_shv > img{
    padding: 5px;
}
.cart_icon_shv:first-child{
    margin: 0 8px 0 0;
}
.cart_icon_shv:last-child{
    margin: 0 0 0 8px;;
}
.cart_info{
    margin: 0 1em; 
    
}
.cart_name{
    display: flex;
    position: relative;
    font-style: normal;
    font-weight: 500;
    color: #6B6B6B;
    margin-bottom: 4px;
}
.cart_composition{
    font-weight: 400;
    display: flex;
    font-size: 14px;
    line-height: 18px;
    color: #757575;
    
}
.cart_prise{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    justify-content: end;
    margin: 1em 0;

}
.cart_prise_old{
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #A0A0A0;
    }
.cart_prise_new{
    margin-left: 8px;
    font-size: 14px;
    background: #E9E6E6;
    color: #274646;
    padding: 10px 23px;
    border-radius: 46px;
    transition: .5s;
    border:none;
    font-weight: 700;
    font-family: 'ValueSansPro', sans-serif;
    
}
.cart_prise_new:hover{
    color: #fff;
    background-color:#274646;
    transition: .5s;
}
.cont_cart{
    grid-template-areas:
"head head head head"
"cart cart cart cart"
"cart cart cart cart";

}

@font-face {
    font-family: 'ValueSansPro';
    src: local('ValueSansPro'),
         url('ValueSansPro-Regular.ttf') format('truetype'),
         url('ValueSansPro-Regular.eot') format('embedded-opentype'),
         url('ValueSansPro-Regular.woff') format('woff'); 
    font-weight: 400;
    font-style: normal;
}
/* Medium */
@font-face {
    font-family: 'ValueSansPro';
    src: local('ValueSansPro'),
         url('ValueSansPro-Medium.ttf') format('truetype'),
         url('ValueSansPro-Medium.eot') format('embedded-opentype'),
         url('ValueSansPro-Medium.woff') format('woff'); 
    font-weight: 500;
    font-style: normal;
}

/* Bold */

@font-face {
    font-family: 'ValueSansPro';
    src: local('ValueSansPro'),
         url('ValueSansPro-Bold.ttf') format('truetype'),
         url('ValueSansPro-Bold.eot') format('embedded-opentype'),
         url('ValueSansPro-Bold.woff') format('woff'); 
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'rimma-sans-bold';
    src: local('rimma-sans-bold'),
         url('rimma-sans-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Media begin */

@media (max-width: 575px) {
    .container {
        padding: 0 0.75rem;
    }
    /* .menutop__li:first-child{
        margin: auto;
    }
    .menutop__li:last-child{
        margin: auto;
    } */

}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    /* .menutop__li:first-child{
        margin: auto;
    }
    .menutop__li:last-child{
        margin: auto; */
    /* } */

}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    /* .menutop__li:first-child{
        margin: auto;
    }
    .menutop__li:last-child{
        margin: auto;
    } */

}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    /* .menutop__li:first-child{
        margin: auto;
    }
    .menutop__li:last-child{
        margin: auto;
    } */

}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        
    }

    }

    .headtop__color{
        background-color: red;

    }
    .headtop__top{
        width: 1227px;
    }
    /* .menutop__li:first-child{
        margin: auto;
    }
    .menutop__li:last-child{
        margin: auto;
    } */
    
.menutop__ul
.story_cont
 {
    width: 100%;
}
    .cont_cart{
        margin: 0;
}

@media (min-width:1400px) {
    .container {
        /* max-width: 1320px; */
    }
    .headtop__color{
        background-color: green;
}
}
/* Media end */